.ui-layout-north {
	z-index: 20 !important;
	overflow: visible !important;;
}

.ui-layout-north .ui-layout-unit-content {
	overflow: visible !important;
}


.ui-widget,.ui-widget .ui-widget {
	font-size: 12px !important;
}

.centeredMenuBar.ui-menubar {
    text-align: center;
}

.centeredMenuBar .ui-menu-list {
    display: inline-block;
}

